*{
    margin: 0px;
    padding: 0px;
}

body{
    color: #ffffff;
    background-color: #000000;
    height: 100vh;
}

header{
    text-align: center;
    border-bottom: solid 2px #ffffff;
    padding: 20px;
    font-size: 32px;
    color: #ffffff;
    height: 10%;
}

section{
    background: #f15e5e;
    padding-bottom: 80px;
    padding-top: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.chamada-textoS{
    margin: 10px;
}

iframe{
    transition-duration: 1s;
}


iframe:hover{
    transform: scale(1.1);
    padding-top: 2px;
}

.rodape{
    position: relative;
    background-color: #000000;
    align-items: end;
}

.tags{
    display: flex;
}

a{
    margin: 2px;
    text-decoration: none;
    color: #ffffff;
}

