*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: bisque;
    display: flex;

}

header{
    text-align: center;
}

.corpo{
    margin: 10px;
    justify-content: center;
    align-items: center;
}

