*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: bisque;

}

header{
    text-align: center;
}

.corpo{
    display: flex;
}

.conteudos{
    justify-content: center;
    align-items: center;
}

